<mat-card class="quiz-container">
  <h2>Intro to Java Final</h2>
  <p>Note: all answers clicked are final</p>
  <div class="quiz-question-container">
    <h5>{{currentQuestion.question}}?</h5>
    <div class="answer-option" *ngFor="let answer of currentQuestion.answers; let index=index;">
      <mat-card class="answer" (click)="onAnswerSelect(index)">
        <button mat-raised-button color="primary">{{answer}}</button>
      </mat-card>
    </div>
    <div class="quiz-navigation">
      <p *ngIf="currentIndex < quizLength">Question {{currentIndex+1}} / {{quizLength}}</p>
    </div>
  </div>
</mat-card>
